body {
    background-image: url("interlaced.png");
}

.navbar-fixed-top {
    border: #cccccc solid 1px;
    background-color: white;
}

h2, .badge-primary {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.text-secondary {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-link {
    background-color: white;
}

li {
    padding: 6px;
}

li:first-child {
    border-right: 1px solid #dddddd;
}

li:nth-child(2) {
    border-right: 1px solid #dddddd;
}

.container {
    border: #dddddd solid 1px;
    margin-bottom: 80px;
    max-width: 960px;
}

.row1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    border-bottom: #dddddd solid 1px;
    padding: 10px;
    max-width: 960px;
}

#footer {
    background-color: darkgray;
    text-align: center;
    color: white;
    border-top: #4aaaa5 solid 10px;
    height:60px;
}

/* About Me */
.row2 {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    max-width: 960px;
}

#bioimage {
    float:left;
    margin-right: 10px;
}

/* Portfolio */
.projects {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

.projectrows {
    position: relative;
}

.labels {
    position: absolute;
    width: 200px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #4aaaa5;
    padding: 10px;
    text-align:center;
}

/* contact.html */
.contact {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    
    .projectrows {
        margin-top: 20px;
    }
    
    .labels {
        left: 100px;
    }
}


@media only screen and (max-width: 640px) {
    
    h2 {
        width: 100%;
        text-align: center;
    }

    ul {
        width: 100%;
        text-align: center;
    }

    .navbar-fixed-top {
        justify-content: center;
    }

  }

  @media only screen and (max-width: 576px) {
    
    li {
        padding:0px;
        font-size: 12px;
    }

  }