
html {
    scroll-behavior: smooth;
}

body {
 font-family: 'Open Sans', sans-serif
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.nav-link:hover {
    color: rgb(118, 156, 168);
}

.parallax {
    /* The image used */
    background-image: url("../img/background3c1.png");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("../img/background6.5.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    /* The image used */
    background-image: url("../img/background4.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax, .parallax2, .parallax3 {
      background-attachment: scroll;
    }
  }

/* .navbar {
    background-color: rgb(103, 103, 105);
    width: 100%;
    margin: 0;
    border-bottom: black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.navbar-fixed-top {
    background-color: #606061 ;
    margin: 0;
} */

#name,
#contact {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 0px;
}

#projects {
    color: rgb(118, 156, 168);
}

h3 {
    color: rgb(118, 156, 168);
}

h4 {
    color: rgb(147, 182, 194);
}

h5 {
    color: rgb(46, 77, 87);
}

#about,
#footer {
    line-height: 500px;
}

#aboutme,
#contact {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.icon {
    padding: 10px;
}

#bottom {
    background-color:rgb(46, 77, 87);
}

/* .nav-link {
    background-color: rgb(103, 103, 105);
    color:white;
} */

/* li {
    padding: 6px;
} */

/* li:first-child {
    border-right: 1px solid #dddddd;
} */

/* li:nth-child(2) {
    border-right: 1px solid #dddddd;
} */

/* .nav-link:hover {
    background-color: rgb(212, 208, 208);
} */

/* .bg-white {
    border: black solid 1px;
    margin-bottom: 80px;
    max-width: 960px;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
} */

/* .row1 {
    color: #56718f;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    border-bottom: #dddddd solid 1px;
    padding: 10px;
    max-width: 960px;
} */

/* About Me */
/* .row2 {
    padding: 10px;
    max-width: 960px;
} */

#bioImage {
    float:left;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    height: 200px;
    width: 200px;
    margin-right: 20px
}

/* Portfolio */
.projectImages {
    border: 1px rgb(103, 103, 105);
    -webkit-box-shadow: 0 0 10px rgb(103, 103, 105);
    -moz-box-shadow: 0 0 10px rgb(103, 103, 105);
    box-shadow: 0 0 10px rgb(103, 103, 105);
}

/* contact.html */
/* .contact {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
} */
